<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/auth.css">
    <title>Title</title>
</head>
<body>
<div class="wrapper">
	<div class="container">
		<h1>Welcome</h1>

		<form class="form" action="" method="post">
			<input type="text" name="username" placeholder="Username">
			<input type="password" name="password" placeholder="Password">
			<input type="submit">
		</form>
		<h2 style="color:red">{{er}}</h2>
	</div>

	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>
<!--<h1>{{ans}}</h1>-->
</body>
</html>
