<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
      <link rel="stylesheet" href="/static/profile.css">
    <title>Title</title>
</head>
<body>
<H3>Welcome in your profile, {{name}}</H3>
</body>
</html>